### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

*/Dockerfile
000-base/test/Dockerfile
!000-base/Dockerfile
!005-nginx/Dockerfile
!react-verify/Dockerfile
!rails-verify/Dockerfile
!rails-build/Dockerfile
